version: 2.1
jobs:
    build:
        docker:
            # check https://circleci.com/developer/images/image/cimg/rust#image-tags for latest
            - image: cimg/rust:1.90
        steps:
            - checkout
            - run: cargo fmt --all -- --check
            - run: cargo install cargo-nextest --locked
            - run: cargo nextest run --all-features

workflows:
    build-and-test:
        jobs:
            - build
